<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Plex Info Bot" status="WARN" strict="true">
	<Properties>
		<Property name="LOG_DIR">/var/log</Property>
		<Property name="LOG_FILE">${LOG_DIR}/plexinfobot.log</Property>
	</Properties>

	<Appenders>
		<RollingFile
			name="File Appender"
			fileName="${LOG_FILE}"
			filePattern="${LOG_DIR}/plexinfobot.%d{yyyy-MM-dd}.%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="8" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="File Appender"/>
		</Root>
	</Loggers>
</Configuration>
